<%- include("header") -%>

<body>
    <p>hello this is the selection page!</p>
    <div><%= dummyVariable %></div>

    <form class="item" action="/" method="post">
        <input type="text" name="someVariable">
        <button action="submit" name="someVariable">click me!</button>
    </form>

</body>

<%- include("footer") -%>