:root {
    --momA: #FF602E;
    --momB: #BDFF00;
    --momC: #4B2EFF;
    --momD: #00C2FF;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
}

h2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
}

p {
    color: white;
}

h3{
    color: white;
}

h4 {
    font-size: 25px;
}

.container{
    height: 100%;
    margin-left: 10%;
    margin-top: 10%;
}

.launch-screen {
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.error-block {
    margin:auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

.end {
    margin: auto;
    width: 100vw;
    height: auto;
}

.padding-top-extra {
    padding-top: 125px;
}

.vertical-flexbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: auto;
    padding-top: 8%;
    background-image: url(/images/4in1.png);
    background-repeat: no-repeat;
    background-size: 600px 600px;
    background-position: center 15%;
}

.resources-block {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 48px;
    row-gap: 48px;
    grid-template-areas: 
        "res1-text res1-buttons"
        "res2-text res2-buttons"
        "res3-text res3-buttons"
        "res4-text res4-buttons"
        "res5-text res5-buttons";
    width: 70%;
    height: 100%;
    margin: auto;
    padding-top: 50px;
}

.res1-text {
    grid-area: res1-text;
}

.buttons-block1 {
    grid-area: res1-buttons;
    align-content: space-between;
}

.res2-text {
    grid-area: res2-text;
}

.buttons-block2 {
    grid-area: res2-buttons;
}

.res3-text {
    grid-area: res3-text;
}

.buttons-block3 {
    grid-area: res3-buttons;
}

.res4-text {
    grid-area: res4-text;
}

.buttons-block4 {
    grid-area: res4-buttons;
}

.res5-text {
    grid-area: res5-text;
}

.buttons-block5 {
    grid-area: res5-buttons;
}

.resources-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;
    color: #f9f9f9a2;
}

.buttons-block {
    display: flex;
    justify-content: flex-start;
    
}
.res-span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 150%;
    color: #ffffff;
}

.padding-top {
    padding-top: 40px;
}

.hero-h1-extra-large-font {
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 40px;
    color: #FFFFFF;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.error-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 100%;
}

.error-text-h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 250px;
    line-height: 50px;
    color: #FF532E;
}

.error-text-h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    text-align: center;
    margin-top: -60px;
}

.error-text-h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    margin-top: -10px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    max-width: 50%;
}

.error-text-h3:hover {
    text-decoration: underline;
}

.button-start {
    background-color: #ffffff; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
}

.learn-more-button {
    background-color: #ffffff; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
    cursor: pointer;
}

.button-outline {
    background-color: #ffffff00; /* Green */
    border: 1px solid #FFFFFF;
    color: rgb(255, 255, 255);
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.closeOverlay {
    padding-bottom: 40px;
}
.close {
    color: rgb(212, 212, 212);
    float: right;
    font-size: 60px;
}
.close:hover,
.close:focus {
    color: #FF602E;
    text-decoration: none;
    cursor: pointer;
}

.quote-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 80%;
    height: 100%;
    background-image: url(/images/Ellipse.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.quote-span {
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 74px;
    color: #F9F9F9;
}

.quote-text {
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.6);
    vertical-align: middle;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: New York Extra Large;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    color: #F9F9F9;
}

.home-bg {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.home-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.end-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.home-img {
    position: absolute;
    z-index: -100;
    right: -5%;
    bottom: 10%;
}

.mother-img {
    position: absolute;
    width: 80%;
    bottom: 0;
    right: -5%;
}

.hero-h1 {
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 80px;
    color: #F9F9F9;
    margin-top: 20px;
    max-width: 75%;
}



.hero-h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 10px;
    color: #FDFDFD;
}

.text-box {
    width: 100%;
}

.hero-h3 {
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    color: #FDFDFD;
    margin-top: 0px;
}

.hero-p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.hero-p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;
    color: #FDFDFD;
}

.p-max-width {
    max-width: 55%;
}

.start-box {
    display: flex;
    justify-content: flex-start;
}

.start-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 150%;
    color: #FDFDFD;
    text-decoration: none;
}

.end-img {
    position: absolute;
    z-index: -100;
    width: 30%;
}

/* Character Selection Page */
.character-container {
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 20px;
    width: 400px;
    margin-right: 30px;
    margin-top: 30px;
}

.character-container button {
    visibility: hidden;
}

.character-container:hover {
    background-color: white;
    color: black;
}

.character-container:hover p {
    color: black;
}

.character-container:hover h3 {
    color: black;
}

.character-container:hover button{
    visibility: visible;
    background-color: white;
    border: none;
    float: right;
}

.character-container:hover .circle{
    position: absolute;
    top: -50px;
    left: -50px;
    width: 125px;
    height: 125px;
    border-radius: 125px;
    background-color: #FF602E;
    z-index: -2;
}

.character-container:hover .shade-circle{
    position: absolute;
    right: -50px;
    top:70%;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background: radial-gradient(46.45% 46.45% at 55.19% 50%, rgba(255, 103, 70, 0.31) 0%, rgba(255, 103, 70, 0) 100%);
    filter: blur(60px);
    z-index: -2;
}

.row{
    display: flex;
    flex-direction: row;
}

.flexInbetween{
    justify-content: space-between;
}

/* choose your own adventure game page */

#game-container {
    padding: 10vmin 18vmin;
}

#game-container #navigation-opts {
    display: flex;
    justify-content: space-between;
}

#game-container #navigation-opts #navigation-btn {
    display: inline-flex;
    border: 2px solid black;
    background: none;
    padding: 0;
    cursor: pointer;
}

#game-container #navigation-opts #navigation-btn a {
    margin-left: 5px;
}

#game-container #navigation-opts #navigation-btn:hover {
    border-bottom: 2px solid white;
}

#game-container #navigation-opts #navigation-btn i {
    color: white;
    margin-top: 14px;
}

#game-container #selections {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

#game-container #selections A {
    display: flex;
    flex-direction: column;
}

#game-container .available {
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

#game-container .unavailable {
    background-color: black;
    color: #757575;
    border: 2px solid #757575;
    pointer-events: none;
}

#game-container #choices-container {
    display: flex;
    justify-content: space-between;
}

#game-container #choice {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 20px;
}

#game-container #choice #choice-text {
    margin: 25px 15px;
}

#game-container .A {
    color: var(--momA);
}

#game-container #A {
    background-color: var(--momA);
}

#game-container .B {
    color: var(--momB);
}

#game-container #B {
    background-color: var(--momB);
}

#game-container .C {
    color: var(--momC);
}

#game-container #C {
    background-color: var(--momC);
}

#game-container .D {
    color: var(--momD);
}

#game-container #D {
    background-color: var(--momD);
}

#game-container #choices-container #circle-container .circle {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    display: inline-block;
}

#game-container #next-btn {
    float: right;
    width: 128px;
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    box-sizing: border-box;
}

#game-container #next-btn {
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.animated-button {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Pre-render the bigger shadow, but hide it */
.animated-button::after {
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Transition to showing the bigger shadow on hover */
.animated-button:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.animated-button:hover {
    opacity: 1;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: black;
    }
    .container {
        display: none;
    }
    .launch-screen {
        display: none;
    }
    .end {
        display: none;
    }
    .character-container {
        display: none;
    }
    #game-container {
        display: none;
    }
    .mobile {
        margin:auto;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: block;
    }
    .mobile-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 80%;
        height: 100%;
    }

    .fourinone {
        max-width: 55%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile-h1 {
        text-align: center;
        font-family: Abril Fatface;
        font-style: normal;
        font-weight: normal;
        font-size: 5.2rem;
        line-height: 50px;
        color: #FFFFFF;
        margin-bottom: 6%;
    }
    .mobile-h2 {
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 3.0rem;
        line-height: 30px;
        color: #FFFFFF;
        margin-top: 6%;
    }
    .mobile-h3 {
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: lighter;
        max-width: 75%;
        font-size: 1.75rem;
        line-height: 150%;
        margin-top: 0;
        color: #FFFFFF;
    }
}

